
/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base Styles -------------------- */

* { box-sizing: border-box; }

body { color: #000;  margin: 0;  font: "Helvetica Neue", Helvetica, Arial, sans-serif;}

a{color:#258d77;}

h1, h2 {  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;}

h1 { font-size: 5.625rem; /* 90px/16px  */   text-transform: uppercase;   font-weight: normal;  line-height: 1.3;  text-shadow: 0 1px 1px rgba(0,0,0,.8);   margin: 12px 0 0;}

h2 {  font-size: 3.3125em; /* 53px/16px  */  font-weight: normal;  line-height: 1.1;  margin: 0 0 .5em; /* 0 0 26px */}

h3 { font-size: 1.25em; /* 20px/16px  */  
color: #48525c;  
line-height: 1.2;  
margin-bottom: 1.7em; /* 34px */}

ul,
ol {
  margin: 30px 0;
  list-style-type: none;
}


img {  max-width: 100%;   margin-bottom: 20px;  border-radius: 10px;}

ul, ol {  margin: 30px 0;}

li {  margin-bottom: 10px;}

/* Pseudo-classes ------------------ */
.chevron:hover {  color: #fff;}

a:link {  color: rgb(255, 169, 73);  text-decoration: none;}

a:visited {  color: lightblue;}

a:hover {  color: rgba(255, 169, 73, .4);}

a:active {  color: lightcoral;}

/* Main Styles --------------------- */

.main-header {
  padding-top: 170px;
  height: 850px;
  background: linear-gradient(#258d77, transparent 90%), 
              linear-gradient(0deg, #fdbb2f, transparent),
              #ffa949 url('../Images/Economic-Impact_2.jpg') no-repeat center;
  background-size: cover;
  color: white;
}

.title {
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;  
   font-weight: 200;  
   border-bottom: 2px solid;  
   padding-bottom: 10px;
 }

.intro {  font-size: 1.25em; /* 20px/16px */  line-height: 1.6;  color: initial;}

#chevron {  padding-top: 100px;  color: #fff;}

#chevron:hover{  color: #fdbb2f;}

.primary-content,.main-header,.main-footer {  text-align: center;}


.primary-content {  padding-top: 25px;  padding-bottom: 95px;}


.names {
  color: #258d77;
  font-family: 'Lato', sans-serif;
  font-size: 1.65rem;
  text-align: center;
  margin-left: -40px;

}

.coaches {
  color: #eb0a00;
  font-family: 'Lato', sans-serif;
  font-size: 1.65rem;
  text-align: center;
  margin-left: -40px;
  
}

#coach_title {
  /*margin-left: px;*/
  margin-bottom: -20px;
}

#programmer_title {
  color: #258d77;
  margin-bottom: -20px;
  margin-top: 40px;
}

.about_heads {
  text-align: center;
  color: #eb0a00;
  font-family: 'Lato', sans-serif;
  font-size: 2.65rem;
}

.primary-content {
  padding-top: 25px;
  padding-bottom: 95px;
}

#url {
  /*margin-top: 40px;*/
  letter-spacing:  0.2em;
}

.ul-programmers ul li {
  text-align: center;
}
.secondary-content {
  padding-top: 80px;
  padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}


.callout {  font-size: 1.25em;  border-bottom: 3px solid;  padding: 0 9px 3px;  margin-top: 20px;  display: inline-block;}

.main-footer {  padding-top: 60px;  padding-bottom: 60px;  border-bottom: 10px solid #ffa949;}

.t-border {  border-top: 2px solid #dfe2e6;}

/* Layout Styles ------------------ */

.primary-content, .secondary-content {  width: 75%;   padding-left: 50px;  padding-right: 50px;  margin: auto;  max-width: 960px;}





/* Floated Columns ------------------ */

/* Float Clearfix ------------------ */

.group:after {  content: "";  display: table;  clear: both;}

/* Media Queries -------------------- */

@media (max-width: 1024px) {

  .primary-content,
  .secondary-content {
    width: 90%;
  }

}

/*---- Joint Code ----*/

/*---- Accordion ----*/
.accordion, .accordion * {    -webkit-box-sizing:border-box;     -moz-box-sizing:border-box;    box-sizing:border-box;}

.accordion {    overflow: hidden;    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);    border-radius: 3px;    background: #f7f7f7;	margin-bottom:15px;}

/*---- Section Titles ----*/
.accordion-section-title {
    width: 100%; padding: 15px;   display: inline-block;     border-bottom: 1px solid #1a1a1a;    background: #333;
    transition:all linear 0.15s;    /* Type */    font-size: 1.2em;    text-shadow:0px 1px 0px #1a1a1a;    color: #fff;
}

.accordion-section-title.active, .accordion-section-title:hover{ background: #4c4c4c; text-decoration: none;}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,200);
@import url(http://weloveiconfonts.com/api/?family=entypo);

* { box-sizing: border-box;}

section {width: 100%;  margin: 0 auto;  text-align: center;}


.checkbox {  height: 70px;  width: 65%;  position: relative;  background: #fff;  display: inline-block;
  margin: 0 auto;  border-radius: 2px;  /*box-shadow: 0px 0px 0 1px #252730;*/  cursor: pointer;}

@media (max-width: 850px) {  .checkbox {    width: 80%;  }}
.checkbox:hover {  background: #30c076;  color: white;}
.checkbox:nth-child(1) .face {
  background: url("../images/spartan-logo.png");
  background-size: cover;
}
.checkbox:nth-child(2) .face {
  background: url("../images/spartan-logo.png");
  background-size: cover;
}
.checkbox:nth-child(3) .face {
  background: url("../images/spartan-logo.png");
  background-size: cover;
}
.checkbox:nth-child(4) .face {
  background: url("../images/spartan-logo.png");
  background-size: cover;
}

.figure-container { width: 20%;   height: 100%;  float: left;  padding: 10px 0 10px 15px;}

@media (max-width: 450px) {  .figure-container { width: 30%; }}

.figure-container .figure { background: transparent; width: 50px;  height: 50px;  border-radius: 50%;  box-shadow: 0 0 0 2px white;}

.text {  width: 80%;   height: 100%;   margin-left: 20%;   text-align: left;   position: relative;   padding: 30px 10px; }

.text span {position: absolute; left: 10px; color:#000;}

.wrapper-checkbox{margin-bottom: 15px;}

.clicked {  background: #30c076 !important;  color: white;}

[class*="entypo-"]:before { font-family: 'entypo', sans-serif;  font-size: 2.3em;  line-height: 50px;}


.accordion-section:last-child .accordion-section-title {  border-bottom: none;}

/*---- Section Content ----*/
.accordion-section{ }
.accordion-section-title, a:focus, a:hover{color:#fdbb2f;}
.accordion-section-title{color:#fff;}
.accordion-section-title h4{font-weight:500;}
.accordion-section-content{padding: 10px 0 10px 10px; display: none;}
.accordion-section-content a{font-weight:500;}
.accordion-section-content, a:focus, a:hover{color:#258d77;}
.accordion-section-content, a:visited{color:#fdbb2f; }
.accordion-section-content{color:#000;}

@media (max-width: 768px) {
  .primary-content, .secondary-content {    width: 100%;     padding: 20px;    border-top: none;  }
  .main-header {   max-height: 380px;    padding: 50px 25px 0;  }
  .title {font-size: 1.rem;    border: none;  }
  h1 {font-size: 5rem; line-height: 1.1;  }
  .arrow {display: none;}
  .intro { font-size: 1rem;}
  .resorts, .tips {float: none; width: 100%;  }
  .main-footer {    padding: 20px 0;  }
}

.modal-body, .modal-image{text-align:center;}

.input-hack{transform: scale(5); margin-top: 30px; margin-left: 25px !important; z-index: 10; opacity:0;}

.progress{background-color: #fdbb2f;}
